<h2>Users</h2>

@if (usersRes.isLoading()) {
  Loading...
}

@if (usersRes.error()) {
  <p>Something went wrong please try again.</p>
}

<mat-form-field appearance="outline">
  <mat-label>Search</mat-label>
  <input matInput type="text" placeholder="Search users..." [(ngModel)]="query" />
  @if (query()) {
    <button mat-icon-button matSuffix (click)="query.set('')">
      <mat-icon>close</mat-icon>
    </button>
  }
  <mat-icon matPrefix>search</mat-icon>
</mat-form-field>

<div class="users">
  @for (user of filteredUsers(); track user.id) {
    <app-user-card class="user-card" [user]="user" />
  }
</div>
