.card {
  flex: 1;
}

.card-header {
  align-items: center;
  flex-direction: column;
}

.card-avatar {
  margin-right: 8px;
}

.user-body {
  display: flex;
  justify-content: center;
}

.user-title {
  margin: 0;
}
